body {
  margin: 0;
  font-family: sans-serif;
}
.half-width h3 {
  font-family: sans-serif;
  font-size: 25px;
}
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.top-name {
  color: rgb(255, 0, 128);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.top-text {
  padding-left: 10%;
  padding-top: 10%;
}
.half-width {
  width: 35%;
  float: left;
  margin-left: 5%;
}
.half-width img {
  width: 100%;
  padding-top: 10%;
}
.header-bg {
  background-image: url(images/header-bg.png);
  background-repeat: no-repeat;
  background-position: initial;
  background-size: 100%;
}
section {
  height: 500px;
  padding-bottom: 100px;
}
.top-link {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  padding: 5px;
  background-color: rgb(255, 0, 140);
}
.biography {
  background-image: url(images/biography-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.bio-text {
  margin: 15% 5% 5% 15%;
}
.latest-work {
  
  padding-left: 16%;
  padding-top: 10%;
 
}
.latest-work img {
  width: 25%;
  float: left;
  margin-left: 2%;
  
}
.latest-work-bg{
    background-image: url(images/latest-work-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.footer-bg{
    background-image: url(images/footer-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.review{
    text-align: center;
    padding-top: 10%;
}
.review h1{
    font-weight: bold;
    font-size: 35px;
}

.contact{
    width: 50%;
    height: 30%;
    text-align: center;
    background-image: linear-gradient(rgb(255, 0, 149),  rgb(255, 0, 140));
    margin-left: 25%;
    margin-top: 100px;
    border-radius: 5px;
    color: white;
}

.contact p{
    padding-top: 40px;
    font-family: monospace;
}
.contact h4{
    font-weight: 550;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact a{
    text-decoration: none;
    color: white;
}
footer{
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
}
